.nav {
    grid-area: n;
    background-color: coral;
    padding: 20px;
}

.item{

}

.item a {
    text-decoration: none;
    color: #ffffff;
}

.item a.active{
    text-decoration: none;
    color: gold;
}