.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogs_items{
    background-color: aquamarine;
    padding: 10px;

}
.acrive{
    color: gold;
}
.dialog{

}
.dialog a{
    text-decoration: none;
}
.messages{
    background-color: gold;
    padding: 10px;
}
.messages .message{
    color: white;
}